#tilecontainer {
    display: flex;
    border: 2px red solid;
    flex-direction: row;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: space-around;
}
.tiles {
    display: flex;
    border: 2px solid black;
    width: 15rem;
    flex-flow: row wrap;
    justify-content: center;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.weather-garden {
    font-size: xx-large;
}

#temp-number {
    font-size: 3rem;
    font-style: oblique;
}

#city-title {
    size: 10rem;
    color: blue;
}
#tempbox, #skybox {
    display: flex;
    flex-direction: column;
}

.temp {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
}

#tempButtonsContainer, #skySelectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: lightcyan;
}

#adjust-temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sky-selector {
    width: 100%
}
section {
    border: 2px red solid;
    text-align: center;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: rgb(216, 216, 81);
}

.green {
    color: green;
}

.teal {
    color: teal;
}

#searchbox {
    display: flex;
    flex-direction: column;
}